@font-face {
  font-family: "Figtree";
  src: url("../../assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("../../assets/fonts/Figtree-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("../../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("../../assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@mixin text-preset-1 {
  font-size: 1.5rem;
  font-weight: 900;
}
@mixin text-preset-2 {
  font-size: 1rem;
  font-weight: normal;
}
@mixin text-preset-3 {
  font-size: 0.875rem;
  font-weight: normal;
}
@mixin text-preset-4 {
  font-size: 0.875rem;
  font-weight: 900;
}
